html,
body {
    margin: 0;
    padding: 0;
    background-color: #113F61;
    text-align: center;
}

h1,
h2 {
    color: #CBB26A;
}

h3, 
p,
li {
    color: #CBB26A;
  text-align: left;
  font-size: 18px;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    background-color: #113F61
    
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 50px;
}

nav a {
    text-decoration-line: double;
    font-size: 1.6em;
    color: #CBB26A;
    margin-right: 25px;
    
}

nav a:hover {
    color: #b7c5cf;
}

#banner {
    width: 50%;
    height: auto;
    background-color: #113F61;
}

#banner img {
    width: 80%;
    height: auto;
}

.service {
    display: inline-block;
    text-align: center;
    background-color: white;
    border: 5px solid green;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

table {
    border: 3px solid black;
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}
footer{
  width:100%;
  padding: 25px;
  background-color: #113F61
}

footer p{
  color:black;
  Text-align: center;
}

.highlight{color: #b7c5cf}

#holiday {
  width: 100%;
  height: auto;
  background-color: Yellow
}

 hr {
    height: 4px;
    background-color: #CBB26A;
    border: none;
        }
    